<launch>

  <!-- please do this first: roslaunch baxter_gazebo baxter_world.launch -->

  <!-- rosrun baxter_interface joint_trajectory_action_server.py -->
  <node name="joint_trajectory_action_server" pkg="baxter_interface" type="joint_trajectory_action_server.py"/>

  <node name="GUI_for_Baxter" pkg="baxterplaysyahtzee" type="BaxterGUI_rosrun_this.py"/>

  <node name="rsdk_joint_position_keyboard" pkg="baxterplaysyahtzee" type="_joint_position_keyboard.py"/>

</launch>
