<launch>
  <!-- roslaunch baxterplaysyahtzee yahtzee_baxter.launch -->
  <node name="my_node2" pkg="baxterplaysyahtzee" type="headdisplay.py" /> 
  <node name="my_node3" pkg="baxterplaysyahtzee" type="gripper_control.py" /> 
  <node name="my_node4" pkg="baxterplaysyahtzee" type="iktest.py" /> 
  <node name="my_node5" pkg="baxterplaysyahtzee" type="sequence.py"/>
</launch>
